.imgBook {
    height: 30rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 11px;
}

.commentBox {
    margin: 0px 0px 0px 110px;
    padding: 0px;
    width: 63rem;
}
