.navbar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar2 li {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5rem;
  margin-right: 0px;
}

.navbar2 li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar2 li a:hover {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #111;    
}